$primaryColor: #cad2c5;
$secondaryColor: #2f3e46;
$fontColor: #c9e4ca;
$hoverColor: #8b0015;
$decoColor: #0c234b;
$headerColor: #f4ede5;
$coolColor: #e2e9eb;


$defaultFont: 'League Spartan', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter:16px;